<a href="https://colab.research.google.com/github/PavelBodle/Tutorpoint_assignments/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# import relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import f1_score
%matplotlib inline

In [5]:
# load dataset
url="https://raw.githubusercontent.com/PavelBodle/Tutorpoint_assignments/main/Questions-4058581010/Questions-4058581010/data.csv"
dataset = pd.read_csv(url)
dataset

             T      P        TC          SV        Idx
0       253.15   17.7  0.026827  389.355242  54.102967
1       253.15   17.7  0.026970  388.007160  54.162740
2       253.15   17.7  0.026912  385.677846  54.232917
3       253.15   17.7  0.026815  384.292031  54.304434
4       253.15   17.7  0.026731  392.060606  54.070973
...        ...    ...       ...         ...        ...
419995  353.15  300.0  0.041824  435.341910  53.755453
419996  353.15  300.0  0.041518  426.840370  54.234870
419997  353.15  300.0  0.041744  428.069807  54.106685
419998  353.15  300.0  0.041607  430.308699  53.970731
419999  353.15  300.0  0.041669  432.137751  54.077029

[420000 rows x 5 columns]

Warning: total number of rows (420000) exceeds max_rows (20000). Limiting to first (20000) rows.

In [1]:
# test classification dataset
from sklearn.datasets import make_classification
# define dataset
X, y = make_classification(n_samples=100, n_features=20, n_informative=15, n_redundant=5, random_state=1)
# summarize the dataset
print(X.shape, y.shape)

(100, 20) (100,)